<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand font-weight-bold" th:text="${authorizedUser.getEmail()}"></a>
            <a class="navbar-brand "> with roles: </a>
            <a class="navbar-brand" th:text="${rolesAuthorizedUser}"></a>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-left" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1 bg-white"
                 style="padding-top: 20px;
                        padding-left: 0px;
                        padding-right: 0px;
                        height: 100vh">

                <!--Начало навигации слева-->
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#User">User</a>
                    </li>
                </ul>
                <!--Конец навигации слева-->
            </div>
            <div class="col-md-10 bg-light"
                 style="padding-top: 20px;
                        height: 100vh">
                <div class="tab-content">

                    <!--Начало основной вкладки юсера-->
                    <div class="tab-pane fade show active" id="User">
                        <h2 class="h2">User information-page</h2>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="UserTable">
                                <div class="card">
                                    <h5 class="card-header">About user</h5>
                                    <div class="card-body text-center">

                                        <!--Начало таблицы юсера-->
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${authorizedUser}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getName()}"></td>
                                                <td th:text="${user.getLastName()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td th:utext="${#strings.arrayJoin(user.getAuthorities(), ' ')}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--Конец таблицы юсера-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>